/* Complete the CSS styling according to the provided design */

body {
  background: url("../images/table.png");
  background-size: cover;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-align: center;
  color: white;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-weight: bold;
  font-style: italic;
}
button {
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 4px;
}
